@model List<Biblio.Models.Livre>

@{
    ViewBag.Title = "Liste de livre";
}

<h1>Liste de Livre</h1>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Nb de page</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Count>0)
    {
        foreach (var livre in Model)
        {
            <tr>
                <td>@livre.Id</td>
                <td>@livre.Titre</td>
                <td>@livre.Page</td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="3" class="text-center">Pas de livre dans la base de donne</td></tr>
    }
    
    
    </tbody>
</table>